#logoErsatz {
    display: flex;
    align-items: center; 
    text-decoration: none;
    height: 100%;
    width: 100%;
}

#logoErsatzGrafik {
    margin-right: 2px; 
    display: flex;
    align-items: center;
}

img.logoErsatzGrafik {
    height: 42px;
    width: auto;
    display: block;
}

#logoErsatzTexte {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 100% ;
    width: 75% ;
    margin-bottom: 13px; 
}

#logoErsatzText1 {
    font-family: Trebuchet MS, Arial;
    font-size: 18px;
    font-weight: 800;
    color: #00173a;
    line-height: 0.85; 
    letter-spacing: -0.3px;
    white-space: nowrap;
    margin-bottom: 5px; 
}

#logoErsatzText2 {
    font-family: Trebuchet MS, Arial;
    font-size: 12px;
    font-weight: 800;
    color: #0460BB;
    line-height: 1;
    letter-spacing: -0.25px; 
    white-space: nowrap;
}


/*#menuLeisteKleinInner_Logo{
 position: absolute ;
 left: 20px ;
 top: 13px ;
 display: block;
}

#logoErsatz{
display: flex;
align-items: center;
text-decoration: none;
 height: 100% ;
 width: 100% ;
}

#logoErsatzGrafik{
  display: flex;
 align-items: center;
 height: 100% ;
 width: 20% ;
}

img.logoErsatzGrafik{
 height: 100% ;
 width: 100% ;
}

#logoErsatzTexte{
 position: relative ;
 display: inline-block ;
 height: 100% ;
 width: 75% ;
}

#logoErsatzText1{
 position: absolute ;
 left: 3px ;
 top: -5px ;
 font-weight: 800 ;
 color: #00173a ;
 font-family: 'meine-schrift' ;
 font-size: 18px ;
 letter-spacing: -0.3px ;
 white-space: nowrap ;
}

#logoErsatzText2{
 position: absolute ;
 left: 3px ;
 top: 20px ;
 font-weight: 800 ;
 color: #0460BB ;
 font-family: 'meine-schrift' ;
 font-size: 12px ;
 letter-spacing: -0.25px ;
 white-space: nowrap ;
}
*/