#logoErsatz {
    display: flex;
    align-items: center; 
    text-decoration: none;
    height: 100%;
    width: 100%;
}

#logoErsatzGrafik {
    margin-right: 2px; 
    display: flex;
    align-items: center;
}

img.logoErsatzGrafik {
    height: 42px;
    width: auto;
    display: block;
}

#logoErsatzTexte {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 100% ;
    width: 75% ;
    margin-bottom: 13px; 
}

#logoErsatzText1 {
    font-family: Trebuchet MS, Arial;
    font-size: 18px;
    font-weight: 800;
    color: #00173a;
    line-height: 0.85; 
    letter-spacing: -0.3px;
    white-space: nowrap;
    margin-bottom: 5px; 
}

#logoErsatzText2 {
    font-family: Trebuchet MS, Arial;
    font-size: 12px;
    font-weight: 800;
    color: #0460BB;
    line-height: 1;
    letter-spacing: -0.25px; 
    white-space: nowrap;
}
